<?xml version="1.0"?>
<robot xmlns:ns0="http://www.ros.org/wiki/xacro" name="dual_arm_combined">
  <ns0:dual_arm_base/>
  <ns0:nova2_robot prefix="left_" base_link_name="left_base"/>
  <ns0:nova2_robot prefix="right_" base_link_name="right_base"/>
  <joint name="left_arm_base_joint" type="fixed">
    <parent link="L_1"/>
    <child link="left_dummy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="right_arm_base_joint" type="fixed">
    <parent link="R_1"/>
    <child link="right_dummy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>